  function getToString(time, splitStr) {
    if (!time) return '';
    var date = getDate(time);
    var M = date.getMonth() + 1;
    var y = date.getFullYear();
    var d = date.getDate();
    if (M < 10) M = "0" + M;
    if (d < 10) d = "0" + d;
    if (splitStr)
      return y + splitStr + M + splitStr + d;
    else
      return {
        y: y,
        M: M,
        d: d
      };
  }
  function leadTime(date3, oldTime) {
      var days = Math.floor(date3 / (24 * 3600 * 1000))
      var leave1 = date3 % (24 * 3600 * 1000)
      var hours = Math.floor(leave1 / (3600 * 1000))
      var leave2 = leave1 % (3600 * 1000)
      var minutes = Math.floor(leave2 / (60 * 1000))
      var leave3 = leave2 % (60 * 1000)
      var seconds = Math.round(leave3 / 1000)
      if (days >= 1) {
        return getToString(oldTime,'-')
      } else if (hours > 0) {
         return  (hours + '小时前更新')
      } else if (minutes>0) {
         return (minutes + '分钟前更新')
      }
  }
 function strSlice(str, length) {
    return  str.length>length?str.slice(0,length)+"...":str
  }
  function  numToFixed(num){
      return num > 1000 ? (num / 10000).toFixed(1)+'w':num
}
function qdStatus(status){
  var x=''
   switch (status) {
     case '0':
        x='缺'
       break;
     case '2':
       x= '今'
       break;
      case '3':
      x='签'
      break;
   }
   return x
}
function weekToString(num){
  var week=''
  var n = num.substring(num.length - 1)
  switch(n){
    case '1':
      week='周一'
      break;
    case '2':
      week='周二'
      break;
    case '3':
      week='周三'
      break;
    case '4':
      week='周四'
      break;
    case '5':
      week='周五'
      break;
    case '6':
      week='周六'
      break;
    case '7':
      week='周日'
      break;     
  }
  return week;
}
module.exports = {
  getToString: getToString,
  leadTime:leadTime,
  strSlice: strSlice,
  qdStatus: qdStatus,
  weekToString: weekToString,
  numToFixed: numToFixed
}